body {
    background-color: rgb(28, 28, 87);
    border: 10px solid black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: blue;
    border: 15px solid black;
    text-align: center;
    padding: 20px;
}

footer {
    border: 10px solid black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
}